[program:<%=@name%>]

command=<%=@command%>

; user that owns virtual environment.
user=root

numprocs=1
stdout_logfile=/var/log/supervisor/<%=@name%>.log
stderr_logfile=/var/log/supervisor/<%=@name%>.log
autostart=true
autorestart=true
startsecs=10
