
ckanext.spatial.common_map.type        = custom
ckanext.spatial.common_map.custom.url  = http://a.osm.maptiles.xyz/{z}/{x}/{y}.png
ckanext.spatial.common_map.attribution = &copy <a href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a> contributors. Tiles provided by <a href="https://maptiles.xyz">MapTiles</a>.
