<% if scope.lookupvar('ckan::ckan_version') == "2.2" %>
ckan.preview.direct = png jpg gif
ckan.preview.loadable = <%= scope.lookupvar('ckan::preview_loadable') %>
<% end %>
<% if scope.lookupvar('ckan::ckan_version') != "2.2" %>
ckan.views.default_views = <%= scope.lookupvar('ckan::postconfig::default_views') %>
<% end %>